/**
 * A selection of normalizations from normalize.css
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
a {
  background: transparent;
}
b,
strong {
  font-weight: bold;
}
img {
  border: 0;
}
svg {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'Avenir Next';
  src: url("src/fonts/AvenirNext-Medium.woff2") format('woff2'), url("src/fonts/AvenirNext-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url("src/fonts/AvenirNext-Heavy.woff2") format('woff2'), url("src/fonts/AvenirNext-Heavy.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url("src/fonts/AvenirNext-Regular.woff2") format('woff2'), url("src/fonts/AvenirNext-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url("src/fonts/AvenirNext-Bold.woff2") format('woff2'), url("src/fonts/AvenirNext-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Hack';
  src: url("src/fonts/Hack-Regular.woff2") format('woff2'), url("src/fonts/Hack-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  width: 100vw;
  height: 200vh;
}
html {
  background-color: #050a07;
}
body {
  color: #fff;
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  font-variant: normal;
  font-weight: 500;
  padding-bottom: 2em;
  overflow: hidden;
  z-index: 0;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 4vw;
  font-weight: 600;
}
h2 {
  font-size: 3vw;
  font-weight: 600;
}
h3 {
  font-size: 2.5vw;
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0 0 0 0.5vw;
}
li {
  font-size: 2vw;
  list-style-type: none;
  padding: 0.5vw 0;
}
li::before {
  display: inline-block;
  font-size: 2vw;
  width: 2vw;
}
li.good::before {
  content: '✓';
  color: #41d041;
}
li.maybe::before {
  content: '?';
  color: #e8d733;
}
li.bad::before {
  content: '✘';
  color: #d21111;
}
li ul {
  margin-left: 1em;
}
p {
  font-size: 1.8vw;
}
a {
  color: #e8d733;
  font-size: 1.8vw;
  font-weight: 500;
  text-decoration: none;
}
em {
  color: #db1a7e;
}
section {
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  visibility: hidden;
}
.presentation-notes section > .notes {
  display: block;
}
.presentation-notes section > *:not(.notes) {
  display: none;
}
section.show {
  visibility: visible;
}
section.hide {
  visibility: hidden;
}
pre {
  margin: -0.5em 0 0 -5em;
  padding: 0 0 0 4vw;
  width: auto;
}
pre code {
  font-family: 'Hack', monospace;
  font-size: 0.9em;
  padding: 0 !important;
  background-color: transparent !important;
  width: auto;
}
blockquote {
  font-size: 2vw;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0 2vw 0 3vw;
  position: relative;
}
blockquote:before {
  content: '‟';
  display: inline-block;
  font-size: 300%;
  left: 0;
  position: absolute;
  top: -1.5vw;
}
figcaption {
  font-size: 2vw;
}
.slides {
  background-color: #050a07;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  transform-origin: top left;
  top: 0;
  width: 100%;
}
.clock {
  font-size: 4vw;
  opacity: 0.25;
  position: absolute;
  right: 1vw;
  top: 0.5vw;
  z-index: 100;
}
.notes {
  background-color: #fff;
  color: #fff;
  display: none;
  font-size: 4vw;
  font-weight: 400;
  text-align: left;
  z-index: 1000;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.dev .notes {
  background-color: rgba(255,255,255,0.2);
  top: initial;
}
.notes .note {
  font-size: inherit;
  left: 50%;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  width: 80%;
}
.dev .notes .note {
  background-color: rgba(255,255,255,0.8);
  bottom: 0;
  font-size: 1.8vw;
  left: 0;
  top: initial;
  transform: none;
  padding: 1em;
  width: auto;
}
.function {
  color: #a6e22e;
}
#title {
  color: #db1a7e;
  text-align: center;
  transition-duration: 500ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#title h1 {
  line-height: 1;
  margin-top: -4vh;
}
#title h2 {
  color: #fff;
}
#title h2 span {
  color: #db1a7e;
}
#title.hide {
  opacity: 0;
}
#me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
}
#me .images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#me figure {
  opacity: 0;
  text-align: center;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
#me figure.popeindustries {
  transform: translate(55%, 0);
}
#me figure.yr {
  transform: translate(-50%, 0);
}
#me.show .popeindustries {
  opacity: 1;
}
#me.step-1 .popeindustries,
#me.step-1 .yr {
  transform: translate(0, 0);
  opacity: 1;
}
#me.hide {
  opacity: 0;
}
#questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#questions h2 {
  opacity: 0;
  position: relative;
  padding: 0.25em 0 0.25em 18vw;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
#questions h2.backend {
  transform: translate(0, 100%);
}
#questions h2.middleend {
  transform: translate(0, -100%);
}
#questions h2 span {
  opacity: 0;
  background-color: #db1a7e;
  right: 10vw;
  position: absolute;
  padding: 0.25em 0.5em;
  top: -0.15em;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
#questions.show {
  opacity: 1;
}
#questions.step-1 .backend {
  opacity: 1;
}
#questions.step-2 .backend .answer {
  opacity: 1;
}
#questions.step-3 .backend {
  transform: translate(0, 0);
}
#questions.step-3 .frontend {
  opacity: 1;
}
#questions.step-4 .frontend .answer {
  opacity: 1;
}
#questions.step-5 .middleend {
  opacity: 1;
  transform: translate(0, 0);
}
#questions.step-6 .middleend .answer {
  opacity: 1;
}
#questions.hide {
  opacity: 0;
}
#ssr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
}
#ssr h2 {
  margin-bottom: 2vh;
}
#ssr .points em,
#ssr .points span {
  color: #db1a7e;
  font-weight: 600;
}
#ssr .point {
  font-size: 2.5vw;
  margin: 0.25em 0;
}
#ssr .points,
#ssr .point {
  opacity: 0;
  transition: opacity 200ms linear;
}
#ssr.show {
  opacity: 1;
}
#ssr.step-1 .points {
  opacity: 1;
}
#ssr.step-2 .point-1 {
  opacity: 1;
}
#ssr.step-3 .point-2 {
  opacity: 1;
}
#ssr.step-4 .point-3 {
  opacity: 1;
}
#ssr.step-5 .point-4 {
  opacity: 1;
}
#ssr.hide {
  opacity: 0;
}
#react {
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#react h2 {
  margin-bottom: 2vh;
}
#react .point {
  margin-bottom: 0.25em;
  opacity: 0;
  transition: opacity 200ms linear;
}
#react .point span,
#react .point code {
  color: #db1a7e;
  font-weight: 600;
}
#react.show {
  opacity: 1;
}
#react.step-1 .point-1 {
  opacity: 1;
}
#react.step-2 .point-2 {
  opacity: 1;
}
#react.step-3 .point-3 {
  opacity: 1;
}
#react.hide {
  opacity: 0;
}
#notreact {
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#notreact h2 {
  margin-bottom: 2vh;
}
#notreact .point {
  margin-bottom: 0.25em;
  opacity: 0;
  transition: opacity 200ms linear;
}
#notreact .point span {
  color: #db1a7e;
  font-weight: 600;
}
#notreact.show {
  opacity: 1;
}
#notreact.step-1 .point-1 {
  opacity: 1;
}
#notreact.step-2 .point-2 {
  opacity: 1;
}
#notreact.hide {
  opacity: 0;
}
#timings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#timings img {
  width: 100%;
}
#timings.show {
  opacity: 1;
}
#timings.hide {
  opacity: 0;
}
#disclaimer {
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#disclaimer h2 span {
  color: #d21111;
}
#disclaimer p {
  opacity: 0;
  transition: opacity 200ms linear;
}
#disclaimer.show {
  opacity: 1;
}
#disclaimer.step-1 p {
  opacity: 1;
}
#disclaimer.hide {
  opacity: 0;
}
.benchmark h2 {
  margin: 10vh 4vw 0;
}
.benchmark h2 span {
  color: #db1a7e;
}
.benchmark p {
  margin: 0 4vw 0;
}
.benchmark .code {
  opacity: 0;
  transition: opacity 200ms linear;
}
.benchmark.show {
  opacity: 1;
}
.benchmark.step-1 .code {
  opacity: 1;
}
.benchmark.hide {
  opacity: 0;
}
#realworld {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#realworld .stack {
  position: relative;
}
#realworld figure {
  transition: opacity 200ms linear;
}
#realworld figure figcaption span {
  color: #db1a7e;
}
#realworld figure.timings2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#realworld img {
  width: 100%;
}
#realworld.show {
  opacity: 1;
}
#realworld.step-1 .timings1 {
  opacity: 0;
}
#realworld.step-1 .timings2 {
  opacity: 1;
}
#realworld.hide {
  opacity: 0;
}
#more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
}
#more h2 {
  margin-bottom: 2vh;
}
#more .point {
  font-size: 2.5vw;
  margin: 0.25em 0;
}
#more .points,
#more .point {
  opacity: 0;
  transition: opacity 200ms linear;
}
#more.show {
  opacity: 1;
}
#more.step-1 .point-1 {
  opacity: 1;
}
#more.step-2 .point-2 {
  opacity: 1;
}
#more.step-3 .point-3 {
  opacity: 1;
}
#more.hide {
  opacity: 0;
}
#future {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
}
#future h2 {
  margin-bottom: 2vh;
}
#future .point {
  font-size: 2.5vw;
  margin: 0.25em 0;
}
#future .points,
#future .point {
  opacity: 0;
  transition: opacity 200ms linear;
}
#future.show {
  opacity: 1;
}
#future.step-1 .point-1 {
  opacity: 1;
}
#future.step-2 .point-2 {
  opacity: 1;
}
#future.hide {
  opacity: 0;
}
#advice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
}
#advice h2 {
  margin-bottom: 2vh;
}
#advice li {
  opacity: 0;
  transition: opacity 200ms linear;
}
#advice.show {
  opacity: 1;
}
#advice.step-1 .point-1 {
  opacity: 1;
}
#advice.step-2 .point-2 {
  opacity: 1;
}
#advice.step-3 .point-3 {
  opacity: 1;
}
#advice.step-4 .point-4 {
  opacity: 1;
}
#advice.step-5 .point-5 {
  opacity: 1;
}
#advice.step-6 .point-6 {
  opacity: 1;
}
#advice.step-7 .point-7 {
  opacity: 1;
}
#advice.step-8 .point-8 {
  opacity: 1;
}
#advice.step-9 .point-9 {
  opacity: 1;
}
#advice.hide {
  opacity: 0;
}
#bye {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
}
#bye h2 {
  margin-bottom: 2vh;
}
#bye h3 {
  margin-top: 0.5em;
}
#bye footer {
  padding: 1em;
  position: absolute;
  bottom: 0;
  right: 0;
}
#bye footer a {
  color: #fff;
}
#bye.show {
  opacity: 1;
}
#bye.hide {
  opacity: 0;
}
