@import './lib/normalize.css';
@import './lib/fonts.css';

BLACK = #050A07;
YR_BLUE = #00b9f1;
DARK_BLUE = darken(YR_BLUE, 60%);
GREEN = #41d041;
RED = #d21111;
YELLOW = #E8D733;
PINK = #DB1A7E;
RATIO = 16/9;
RATIO_INVERT = 9/16;
TRANSITION_DURATION = 400ms;
TRANSITION_DURATION_SHORT = 200ms;
TRANSITION_DURATION_LONG = 800ms;
TRANSITION_TIMING_CUBIC_OUT = cubic-bezier(0.215, 0.61, 0.355, 1);

full() {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
bg(path) {
  background-image: url(path);
  background-position: bottom center;
  background-size: cover;
}

html,
body {
  width: 100vw;
  height: 200vh;
}
html {
  background-color: BLACK;
}
body {
  color: white;
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  font-variant: normal;
  font-weight: 500;
  padding-bottom: 2em;
  overflow: hidden;
  z-index: 0;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 4vw;
  font-weight: 600;
}
h2 {
  font-size: 3vw;
  font-weight: 600;
}
h3 {
  font-size: 2.5vw;
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0 0 0 0.5vw;
}
li {
  font-size: 2vw;
  list-style-type: none;
  padding: 0.5vw 0;
  &::before {
    display: inline-block;
    font-size: 2vw;
    width: 2vw;
  }
  &.good::before {
    content: '✓';
    color: GREEN;
  }
  &.maybe::before {
    content: '?';
    color: YELLOW;
  }
  &.bad::before {
    content: '✘';
    color: RED;
  }
  ul {
    margin-left: 1em;
  }
}
p {
  font-size: 1.8vw;
}
a {
  color: YELLOW;
  font-size: 1.8vw;
  font-weight: 500;
  text-decoration: none;
}
em {
  color: PINK;
}
section {
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: all TRANSITION_DURATION TRANSITION_TIMING_CUBIC_OUT;
  visibility: hidden;
  .presentation-notes & > .notes {
    display: block;
  }
  .presentation-notes & > *:not(.notes) {
    display: none;
  }
  &.show {
    visibility: visible;
  }
  &.hide {
    visibility: hidden;
  }
}
pre {
  margin: 0 0 0 -8vh;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  code {
    font-family: 'Hack', monospace;
    font-size: 1em;
    padding: 0 !important;
    // overflow: hidden !important;
    background-color: transparent !important;
    width: auto;
  }
}
blockquote {
  font-size: 2vw;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0 2vw 0 3vw;
  position: relative;
  &:before {
    content: '‟';
    display: inline-block;
    font-size: 300%;
    left: 0;
    position: absolute;
    top: -1.5vw;
  }
}
figcaption {
  font-size: 2vw;
}

.slides {
  background-color: BLACK;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  transform-origin: top left;
  top: 0;
  width: 100%;
}
.clock {
  font-size: 4vw;
  opacity: 0.25;
  position: absolute;
  right: 1vw;
  top: 0.5vw;
  z-index: 100;
}
.notes {
  background-color: white;
  color: white;
  display: none;
  font-size: 4vw;
  font-weight: 400;
  text-align: left;
  z-index: 1000;
  full();
  .dev & {
    background-color: rgba(white, 0.2);
    // display: block;
    top: initial;
  }
  .note {
    font-size: inherit;
    left: 50%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    width: 80%;
    .dev & {
      background-color: rgba(255,255,255,0.8);
      bottom: 0;
      font-size: 1.8vw;
      left: 0;
      top: initial;
      transform: none;
      padding: 1em;
      width: auto;
    }
  }
}
.function {
  color: #a6e22e;
}

#title {
  color: PINK;
  text-align: center;
  transition-duration: 500ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    line-height: 1;
    margin-top: -4vh;
  }
  h2 {
    color: white;
    span {
      color: PINK;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
  .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  figure {
    opacity: 0;
    text-align: center;
    transition: all TRANSITION_DURATION_SHORT TRANSITION_TIMING_CUBIC_OUT;
    &.popeindustries {
      transform: translate(55%, 0);
    }
    &.yr {
      transform: translate(-50%, 0);
    }
  }
  &.show {
    .popeindustries {
      opacity: 1;
    }
  }
  &.step-1 {
    .popeindustries,
    .yr {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    opacity: 0;
    position: relative;
    padding: 0.25em 0 0.25em 18vw;
    transition: all TRANSITION_DURATION_SHORT TRANSITION_TIMING_CUBIC_OUT;
    &.backend {
      transform: translate(0, 100%);
    }
    &.middleend {
      transform: translate(0, -100%);
    }
    span {
      opacity: 0;
      background-color: PINK;
      right: 10vw;
      position: absolute;
      padding: 0.25em 0.5em;
      top: -0.15em;
      transition: all TRANSITION_DURATION_SHORT TRANSITION_TIMING_CUBIC_OUT;
    }
  }
  &.show {
    opacity: 1;
  }
  &.step-1 {
    .backend {
      opacity: 1;
    }
  }
  &.step-2 {
    .backend .answer {
      opacity: 1;
    }
  }
  &.step-3 {
    .backend {
      transform: translate(0, 0);
    }
    .frontend {
      opacity: 1;
    }
  }
  &.step-4 {
    .frontend .answer {
      opacity: 1;
    }
  }
 &.step-5 {
    .middleend {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  &.step-6 {
    .middleend .answer {
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#ssr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
  h2 {
    margin-bottom: 2vh;
  }
  .points {
    em,
    span {
      color: PINK;
      font-weight: 600
    }
  }
  .point {
    font-size: 2.5vw;
    margin: 0.25em 0;
  }
  .points,
  .point {
    opacity: 0;
    transition: opacity TRANSITION_DURATION_SHORT linear;
  }
  &.show {
    opacity: 1;
  }
  &.step-1 {
    .points {
      opacity: 1;
    }
  }
  &.step-2 {
    .point-1 {
      opacity: 1;
    }
  }
  &.step-3 {
    .point-2 {
      opacity: 1;
    }
  }
  &.step-4 {
    .point-3 {
      opacity: 1;
    }
  }
  &.step-5 {
    .point-4 {
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#react {
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin-bottom: 2vh;
  }
  .point {
    margin-bottom: 0.25em;
    opacity: 0;
    transition: opacity TRANSITION_DURATION_SHORT linear;
    span,
    code {
      color: PINK;
      font-weight: 600;
    }
  }
  &.show {
    opacity: 1;
  }
  &.step-1 {
    .point-1 {
      opacity: 1;
    }
  }
  &.step-2 {
    .point-2 {
      opacity: 1;
    }
  }
  &.step-3 {
    .point-3 {
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#notreact {
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin-bottom: 2vh;
  }
  .point {
    margin-bottom: 0.25em;
    opacity: 0;
    transition: opacity TRANSITION_DURATION_SHORT linear;
    span {
      color: PINK;
      font-weight: 600;
    }
  }
  &.show {
    opacity: 1;
  }
  &.step-1 {
    .point-1 {
      opacity: 1;
    }
  }
  &.step-2 {
    .point-2 {
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#timings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  img {
    width: 100%;
  }
  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }
}

#disclaimer {
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    span {
      color: RED;
    }
  }
  p {
    opacity: 0;
    transition: opacity TRANSITION_DURATION_SHORT linear;
  }
  &.show {
    opacity: 1;
  }
  &.step-1 {
    p {
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

.benchmark {
  h2 {
    margin: 10vh 10vh 0 10vh;
    span {
      color: PINK;
    }
  }
  p {
    margin: 0 10vh 0;
  }
  .code {
    opacity: 0;
    transition: opacity TRANSITION_DURATION_SHORT linear;
  }
  &.show {
    opacity: 1;
  }
  &.step-1 {
    .code {
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#realworld {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .stack {
    position: relative;
  }
  figure {
    transition: opacity TRANSITION_DURATION_SHORT linear;
    figcaption span {
      color: PINK;
    }
    &.timings2 {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  img {
    width: 100%;
  }
  &.show {
    opacity: 1;
  }
  &.step-1 {
    .timings1 {
      opacity: 0;
    }
    .timings2 {
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
  h2 {
    margin-bottom: 2vh;
  }
  .point {
    font-size: 2.5vw;
    margin: 0.25em 0;
  }
  .points,
  .point {
    opacity: 0;
    transition: opacity TRANSITION_DURATION_SHORT linear;
  }
  &.show {
    opacity: 1;
  }
  &.step-1 {
    .point-1 {
      opacity: 1;
    }
  }
  &.step-2 {
    .point-2 {
      opacity: 1;
    }
  }
  &.step-3 {
    .point-3 {
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#future {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
  h2 {
    margin-bottom: 2vh;
  }
  .point {
    font-size: 2.5vw;
    margin: 0.25em 0;
  }
  .points,
  .point {
    opacity: 0;
    transition: opacity TRANSITION_DURATION_SHORT linear;
  }
  &.show {
    opacity: 1;
  }
  &.step-1 {
    .point-1 {
      opacity: 1;
    }
  }
  &.step-2 {
    .point-2 {
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#advice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
  h2 {
    margin-bottom: 2vh;
  }
  li {
    opacity: 0;
    transition: opacity TRANSITION_DURATION_SHORT linear;
  }
  &.show {
    opacity: 1;
  }
  &.step-1 {
    .point-1 {
      opacity: 1;
    }
  }
  &.step-2 {
    .point-2 {
      opacity: 1;
    }
  }
  &.step-3 {
    .point-3 {
      opacity: 1;
    }
  }
  &.step-4 {
    .point-4 {
      opacity: 1;
    }
  }
  &.step-5 {
    .point-5 {
      opacity: 1;
    }
  }
  &.step-6 {
    .point-6 {
      opacity: 1;
    }
  }
  &.step-7 {
    .point-7 {
      opacity: 1;
    }
  }
  &.step-8 {
    .point-8 {
      opacity: 1;
    }
  }
  &.step-9 {
    .point-9 {
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#bye {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
  h2 {
    margin-bottom: 2vh;
  }
  h3 {
    margin-top: 0.5em;
  }
  footer {
    padding: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    a {
      color: white;
    }
  }
  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }
}